@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.header .active .bar:nth-child(1) {
  transform: rotate(45deg) translateY(11.5px);
}
.header .active .bar:nth-child(2) {
  transform: translateX(20px);
  opacity: 0;
}
.header .active .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-11.5px);
}